# Dependencies
node_modules/
jspm_packages/
.npm
.node_repl_history
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
.yarn-integrity

# Build & output
dist/
build/
.next/
out/
.swc

# Testing
coverage/

# Environment variables
.env*
!.env.example
!.env.sample

# Logs
logs/
*.log

# Runtime & process
pids/
*.pid
*.seed
*.pid.lock

# IDE & editors
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Security & archives
*.pem
*.tgz

# Bundler / analyzers
bundle-analyzer-report.html
.webpack_cache/
